<p><b>Name:</b> <%= @content_block.name %></p>

<p><b>Title:</b> <%= @content_block.title %></p>
<p><b>Language Of Translation:</b> <%= @content_block.language_of_translation %></p>
<p><b>Title In Language Of Translation:</b> <%= @content_block.title_in_language_of_translation %></p>
<p><b>Publishers Name:</b> <%= @content_block.publishers_name %></p>
<p><b>Publishers Country:</b> <%= @content_block.publishers_country %></p>
<p><b>Publishers Web Address:</b> <%= @content_block.publishers_web_address %></p>
<p><b>Online Source:</b> <%= @content_block.online_source %></p>
