<p><b>Name:</b> <%= @content_block.name %></p>

<p><b>J Year:</b> <%= @content_block.j_year %></p>
<p><b>Season:</b> <%= @content_block.season %></p>
<p><b>Linked Pdf:</b> <%= @content_block.linked_pdf %></p>
<p><b>Main Article:</b> <%= @content_block.main_article %></p>
<p><b>Main Article Link:</b> <%= @content_block.main_article_link %></p>
<p><b>Other Article:</b> <%= @content_block.other_article %></p>
