<p><b>Name:</b> <%= @content_block.name %></p>

<p><b>Id Of Dvd:</b> <%= @content_block.id_of_dvd %></p>
<p><b>Id Of Product:</b> <%= @content_block.id_of_product %></p>
<p><b>Option Id Of Product:</b> <%= @content_block.option_id_of_product %></p>
<p><b>Cart Link:</b> <%= @content_block.cart_link %></p>
<p><b>Title:</b> <%= @content_block.title %></p>
<p><b>Talk1:</b> <%= @content_block.talk1 %></p>
<p><b>Talk2:</b> <%= @content_block.talk2 %></p>
<p><b>Short Story Guide:</b> <%= @content_block.short_story_guide %></p>
<p><b>Long Story Guide:</b> <%= @content_block.long_story_guide %></p>
<p><b>Satsang Curriculum:</b> <%= @content_block.satsang_curriculum %></p>
<p><b>Video Description File:</b> <%= @content_block.video_description_file %></p>
