<p><b>Name:</b> <%= @content_block.name %></p>

<p><b>Language:</b> <%= @content_block.language %></p>
<p><b>Month:</b> <%= @content_block.month %></p>
<p><b>Day:</b> <%= @content_block.day %></p>
<p><b>Quote:</b> <%= @content_block.quote %></p>
<p><b>Quote By:</b> <%= @content_block.quote_by %></p>
<p><b>Thought Matter:</b> <%= @content_block.thought_matter %></p>
